.left-panel {

    height: 100vh;
    width: 20vw;
    border-right: 1px solid #ccc;

}

.central-panel {

    height: 100vh;
    width: 80vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.central-panel .chat-logo {
    
    margin-top: 25vh;

}

.central-panel .dicas-container {

    display: flex;
    max-width: 50vw;
    margin-top: 20px;

}

.central-panel .dicas-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;

}

.central-panel .dicas-item h2 {

    margin-bottom: 20px;

    display: flex; /* Usa o modelo Flexbox para organizar os elementos */
    flex-direction: column; /* Organiza os elementos em colunas */
    align-items: center; /* Cetraliza horizontalmente */

}

.central-panel .dicas-item p {

    margin-bottom: 20px;
    padding: 10px;
    background-color: #F7F9FB;
    border-radius: 8px;

}

.container {

    display: flex;

}

.top {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 70vh;

}

.top .btn-new-chat {

    width: 100%;
    background-color: black;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;

}

.btn-chat {

    width: 100%;
    background-color: transparent;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
    text-align: left;

    display: flex; /* Usa o modelo Flexbox para organizar os elementos */
    flex-direction: row; /* Organiza os elementos em linhas */
    align-items: center; /* Centraliza verticalmente */

}

.btn-chat img {

    margin-right: 15px;

}

.bottom {

    border-top: 1px solid #ccc;
    padding: 20px;

}

.input-container-1 {

    margin-top: auto;
    margin-bottom: 40px;

    display: flex;
    align-items: center;

    border: none;
    background-color: #F7F9FB;

    border-radius: 16px;

    padding-left: 15px;
    padding-right: 15px;

}

.input-container-1 input {

    border: none;
    padding: 20px;
    background-color: transparent;
    width: 40vw;

}

.input-container-2 {

    margin-top: auto;
    margin-bottom: 40px;

}

.input-container-2 input {

    padding: 20px;
    border: none;
    background-color: #F7F9FB;
    border-radius: 16px;
    width: 40vw;

}

.chat-container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
    /* Para corrigir o bug que acontece quando há muitas mensagens no chat */
    height: 90vh;
    overflow: auto;

}

.chat-header {

    margin-bottom: 20px;

}

.chat-messages {

    width: 100%;

}

.chat-container .message-item {

    background-color: #ccc;
    border-radius: 12px 12px 0 12px;
    padding: 20px;
    width: 300px;
    margin-left: auto;

}

.chat-container .message-item.chatbot {

    background-color: #ccc;
    border-radius: 12px 12px 12px 0px;
    padding: 20px;
    width: 300px;
    margin-left: unset;
    color: white;
    background: #000;

}