/* .titulo {

    font-size: 76px;

} */

/* #meutitulo {

    font-size: 76px;

} */

.page-container {

    display: flex;

}

h1 {

    font-size: 76px;
    font-family: "Inter";
    font-weight: normal;
    margin-bottom: 16px;

}

.login-container {

    display: flex;
    flex-direction: column; /*deixa em colunas*/
    align-items: center; /*horizontal*/
    justify-content: center; /*horizontal*/
    height: 100vh;
    width: 50vw;

}

.login-logo {

    height: 60px;

}

.robo-image {

    background-image: url("../../assets/imgs/Rectangle 1.png");
    background-size: cover;
    /* background-repeat: no-repeat; */

    width: 50vw;
    height: 100vh;

}